{% extends '1base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>


                <th>Preview</th>
                <th>Nom</th>
                <th>Prix</th>

            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>


                <td>
                    <a href="{{ path('piste_show',{'id': panier.pisteid}) }}">
                        <img src="{{ panier.thumbnail }}" height = "40" width = "60">
                    </a>
                </td>
                <td>{{ panier.nom }}</td>
                <td>{{ panier.prix }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panier_new') }}">Create new</a>
    <a href="{{ path('carteb_new')}}">checkout</a>
{% endblock %}
